@model AddProductViewModel;
@{
    var categories = ViewData["categories"] as List<SelectListItem>;
}

<h1>Create New Product</h1>
<form asp-action="add" asp-controller="Product" method="Post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" >
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label"></label>
        <input asp-for="Stock" class="form-control">
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryID" class="form-label"></label>
        <select asp-for="CategoryID" asp-items="@categories" class="form-control">
            <option selected value="0">Select Product Category</option>
        </select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Attachment" class="form-label"></label>
        <input asp-for="Attachment" class="form-control">
        <span asp-validation-for="Attachment" class="text-danger"></span>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


