<html>
<head>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />

</head>
<body>
    <div class="container-fluid" style="height:100vh"> 
        <div class="row">
            <div class="col-3 bg-info">
                <a href="/product/index">Product</a>
                <a href="/product/index">Product</a>
                <a href="/product/index">Product</a>
                <a href="/product/index">Product</a>
                <a href="/product/index">Product</a>
                <a href="/product/index">Product</a>
                <a href="/product/index">Product</a>
                <a href="/product/index">Product</a>
                <a href="/product/index">Product</a>
            </div>
            <div class="col-9 p-5">
                @RenderBody()
            </div>

        </div>
    </div>

    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>
    </html>