<html>
<head>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />

    
    @RenderSection("ChildStyle",false)

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WebStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/index">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/index">Categories</a>
                    </li>
                    @if(string.IsNullOrEmpty(User.Identity.Name))
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Join Us
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="register" asp-controller="account">Register</a></li>
                                <li><a class="dropdown-item" asp-action="Login" asp-controller="account">login</a></li>

                            </ul>
                        </li>
                        }
                        else{
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="account">log Out</a></li>
                            </ul>
                        </li>
                        }

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar w/ text</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Navbar text with an inline element
                </span>
            </div>
        </div>
    </footer>
    
    @RenderSection("ChildScript",false)

    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>